.product-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.product-list .actions {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}

.product-list .actions button {
   background: #da552f;
   border: 0;
   border-radius: 5px;
   color: #ffff;
   cursor: pointer;
   font-size: 16px;
   font-weight: bold;
   padding: 10px;
   transition: all 0.2s;
}

.product-list .actions button[disabled] {
   opacity: 0.5;
   cursor: default;
}

.product-list .actions button[disabled]:hover {
   opacity: 0.5;
}

.product-list .actions button:hover {
   opacity: 0.7;
}

.product-list article {
   background: #FFF;
   border: 1px solid #DDD;
   border-radius: 5px;
   margin-bottom: 20px;
   padding: 20px;
}

.product-list article p {
   color: #999;
   font-size: 16px;
   line-height: 24px;
   margin-top: 5px;
}

.product-list article a {
   align-items: center;
   background: none;
   border: 2px solid #da552f;
   border-radius: 5px;
   color: #da552f;
   display: flex;
   font-size: 16px;
   font-weight: bold;
   height: 43px;
   justify-content: center;
   margin-top: 10px;
   text-decoration: none;
   transition: all 0.2s;
}

.product-list article a:hover {
   background: #da552f;
   color: #ffff;
}

